@import 'partials/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

// reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


// ***** typo *****

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    
    &-blue {
        @extend .btn;
        color: white;
        background-color: $mainColor;
        
    }
    
    &.small {
        padding: 10px 50px;
    }

    &.big {
        font-size: 25px;
        padding: 10px 20px;
    }
}